.container{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
}
.main{
    width: 400px; 
    min-height: 500px;
    border: 10px solid #ABBD8A;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    /* justify-content: stretch;  */
    margin-top: 10%;
    background-color: #ABCFE7;
}
.box{
    width: 95%;
    min-height: 100px;
    background-color: #F3FBEC;
    box-shadow: 2px 4px rgba(214, 206, 206, 0.644);
    margin:20px 10px 30px 10px;
    border-radius: 6px; 
}
.calc-keys{
    width: 95%;
    min-height: auto;  
    margin:20px 10px 20px 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 13px;
}

.calc-keys button{
    padding: 21px;
    border: none;
    font-size: 25px;
    font-weight: bold;
    color: gray;
    background-color: #EFEFEF;
    box-shadow: 2px 4px rgba(116, 112, 112, 0.534);
    border-radius: 5px;
    cursor: pointer;
}
.calc-keys button.operator{
    background-color: #F1FFA0 !important;
}
.calc-keys button#clear{
    background-color: #F0A3AB !important;
}

.box p{
    word-break: break-all;
    text-align: right;
    /* direction: rtl; */
    padding: 5px 8px 3px 6px;
    font-size: larger;
    font-weight: bold;
}
.calc-keys button:hover{
    background-color: #cfcccc;
}
.calc-keys button.operator:hover{
    background-color: #deee81 !important;
}
.calc-keys button#clear:hover{
    background-color: #df8c94 !important;
}
